.first-section{
    background-color: #FEF7F2;
    padding-top: 100px;
}

.first-section .container{
    display: flex;
    justify-content: space-between;
}
.first-section img{
    width: 970px;
}

.first-section-text{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

h1{
    font-weight: 800;
    color: #2B1B12;
    font-size: 55px;
    margin-top: 50px;
}

p{
    color: #4F3527;
    font-weight: 700;
    font-size: 18px;
    width: 410px;
}