header {
  background-color: #fef7f2;
}

.header-content {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

.header-menu ul li a {
  color: #2b1b12;
  font-size: 20px;
  font-weight: 700;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 40px;
}
